* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #363636;
  --color-primary: #252525;
  --color-secondary: #0299be;
  --color-grey60: #989899;
  --color-white: #e6e6e6;
  font-family: "Fredoka", sans-serif;
  /* font-size: 70%; */
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: var(--color-white);
}

header {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 20px;
}

header figure {
  display: block;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
header img {
  max-width: 100%;
  height: 250px;
  margin: 20px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px var(--color-white);
  border-radius: 3px;
}

/* header figcaption {
  text-align: right;
  margin-right: 20px;
} */

div {
  padding: 20px;
  margin: 20px auto;
  background-color: var(--color-white);
  max-width: 800px;
  border-radius: 5px;
}

#ingredientes h2 {
  text-decoration: underline;
  text-align: center;
}

#ingredientes p {
  margin: 10px;
  font-weight: bold;
}
