* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #363636;
  --color-primary: #c5c3c3;
  --color-secondary: #707a7c;
  --color-grey60: #e0e0e0;
  --color-white: #e6e6e6;
  font-family: "Fredoka", sans-serif;
  /* font-size: 70%; */
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: var(--color-grey60);
}

.header {
  background-color: var(--color-white);
  padding: 30px;
  box-shadow: 0 0 2px var(--color-primary);
}

.header h1,
p {
  padding-left: 20px;

  /* border: red solid 3px; */
}

#initial {
  display: flex;
  justify-content: center;
  /* border: red solid 3px; */
  max-width: 100%;
  margin: 10px;
}

#initial img {
  max-width: 100%;
  height: 310px;
  margin: auto;
  box-shadow: 0 0 20px var(--color-primary);
  border-radius: 3px;
}

.header figcaption {
  font-size: 10px;
  text-align: end;
  padding-right: 20px;
}

.content {
  max-width: 100%;
  display: block;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 20px;

  /* border: red solid 3px; */
}

.content h2,
span {
  margin: 10px;
}

.content ul,
ol {
  margin: 10px;
  padding-left: 30px;
}

#observacoes {
  /* border: rgb(43, 255, 0) solid 3px; */
  display: flex;
  margin-top: 20px;
  padding: 10px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.observacao span {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  /* border: rgb(65, 51, 112) solid 1px; */
}

.observacao p {
  /* border: rgb(255, 0, 34) solid 1px; */
  font-size: 0.8rem;
  text-align: center;
  padding: 2px 10px;
}

.observacao {
  /* border: rgb(0, 195, 255) solid 1px; */
  text-align: center;
  align-items: center;
}

.divider {
  width: 2px;
  height: 100%;
  background-color: var(--color-secondary);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a,
i {
  color: var(--color-secondary);
  margin: 2px;
  text-decoration: none;
  justify-content: center;
}

.description p {
  /* border: rgb(255, 0, 34) solid 1px; */
  font-size: 0.7rem;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

footer h3 {
  font-size: 0.7rem;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Media Queries */
@media (max-width: 400px) {
  .header {
    padding: 15px;
  }
  .header h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1rem;
  }
  .header p,
  .header figcaption {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9rem;
  }

  #initial {
    display: flex;
    justify-content: flex-start;
    background-color: var(--color-secondary);
    overflow-x: auto; /* rolagem */
  }

  #initial img {
    height: 100px;
    max-width: 100%;
    margin-right: 5px;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content h2,
  .content span {
    margin: 5px;
    font-size: 0.9rem;
  }

  .content ul,
  .content ol {
    margin: 5px;
    padding-left: 15px;
    font-size: 0.8rem;
  }

  #observacoes {
    flex-direction: column;
    height: auto;
    padding: 8px;
  }

  .observacao p {
    text-align: left;
    flex-direction: column;
  }

  .observacao {
    margin-bottom: 5px;
  }
}
